@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

html, body{
    font-family: "Nunito", sans-serif;
}

.bg1{background: tomato;}
.bg2{background: rgb(55, 87, 231);}
.bg3{background: rgb(224, 167, 43);}
.bg4{background: rgb(75, 15, 110);}
.bg5{background: rgb(18, 146, 33);}

#seccion1{
    margin-top: 3em;
}

#noticias{
    margin: 3em 0;
}
